In [15]:
import numpy as np
import pandas as pd
df = pd.read_csv('Top_Posts.csv')
pf = pd.read_csv('TopComments.csv')
df
pf

                                          top comments
0    Iâ€™ll have your finest chicky tendies with ketc...
1       "Drink up, I have two more items left to sell"
2                 Thats me selling my payday 2 skins ðŸ˜­
3                                  Me selling tf2 keys
4    I sold a Badge on CSGO for $20, bought Persona...
..                                                 ...
844  I want one but I feel like he'll get annoyed i...
845              Dude, how did you get this? WANT ONE!
846                                      Nice our lord
847                   Ugliest autograph I've ever seen
848  This is the second time he's done this, there ...

[849 rows x 1 columns]